DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD

BACKUP_EMAIL_RECIPIENT=EMAIL_WHICH_RECEIVES
BACKUP_CRON_SCHEDULE="0 2 * * *"  # EVERY DAY @ 2:00 AM


# SMTP Config (Gmail, change this as your wish)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=YOUR_GMAIL_WHICH_SENDS
SMTP_PASS=GMAIL_PASS_SMTP_KEY
